*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.TabsContainer{
    margin-top: -57px;
}
.HeaderHeight{
    height: 58px !important;
}

.accordion-button{
    color: #1e293b !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    font-family: 'Inter', sans-serif !important;
    border: none !important;
}


  .accordion-item{
    border: none !important;
    border-bottom: 1px solid #bdbdbd  !important;
  }
  .active{
    height: 100%;
    border-bottom: 2px solid #754ffe !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .nav-link{
    color: black !important;
  } */
  .tab-pane{
    border-bottom:none !important;
  }
  .icon-shape{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-color: rgb(238, 238, 238) !important;
  }