* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.LandingPage {
    width: 100%;
    display: flex;
    height: 100vh;
}

.main-content {
    padding: 30px;
    flex: 1;
    
}

/* .ModalFOrm {
    background-color: rgb(165, 165, 165);
} */

/* @media (max-width: 1040px) {
    .LandingPage {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
} */